# Ignorar directorios de dependencias
node_modules/

# Ignorar directorios de compilación de TypeScript
dist/

# Ignorar archivos de entorno local
.env
.env.local
.env.*.local

# Ignorar logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos específicos del sistema operativo
.DS_Store
Thumbs.db